<li class="dropdown" data-admin-menu>
    <a href="#">
        Управление
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li><a href="/MembershipType">&nbsp;&nbsp; Типы пользователей</a></li>
        <li><a href="/Genre">&nbsp;&nbsp; Жанры</a></li>
        <li class="divider"></li>
        <li><a href="/Book">&nbsp;&nbsp; Книги</a></li>
        <li><a href="/User">&nbsp;&nbsp; Клиенты</a></li>
        <li class="divider"></li>
    </ul>
</li>
